@import "./mixins";

// Buttons

@mixin animation-btn-hover {
  @keyframes animation-btn-hover {
    from {
      @include btn-normal;
    }
    to {
      @include btn-hover;
    }
  }

  animation: animation-btn-hover ease-in;
  animation-duration: 0.5s;
}

@mixin animation-btn-normal {
  @keyframes animation-btn-normal {
    from {
      @include btn-hover;
    }
    to {
      @include btn-normal;
    }
  }

  animation: animation-btn-normal ease-in;
  animation-duration: 0.5s;
}

// Cards

@mixin animation-fade-in {
  @keyframes animation-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  animation: animation-fade-in both;
  animation-duration: 2s;
  animation-delay: calc(0.4s * var(--dish));
}

@mixin animation-card-add-in {
  @keyframes animation-card-add-in {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  animation: animation-card-add-in ease-in;
  animation-duration: 1s;
}

@mixin animation-card-add-out {
  @keyframes animation-card-add-out {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }

  animation: animation-card-add-out ease-in-out;
  animation-duration: 0.2s;
}

@mixin animation-card-add-spin {
  @keyframes animation-card-add-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  animation: animation-card-add-spin;
  animation-duration: 1s;
}
