// Breakpoints
@mixin mobile-ls-only {
  @media screen and (min-width: map-get($bp, mobile-ls)) and (max-width: map-get($bp, tablet)) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: map-get($bp, tablet)) and (max-width: map-get($bp, tablet-ls)) {
    @content;
  }
}

@mixin tablet-ls-only {
  @media screen and (min-width: map-get($bp, tablet-ls)) and (max-width: map-get($bp, computer)) {
    @content;
  }
}

@mixin computer-only {
  @media screen and (min-width: map-get($bp, computer)) {
    @content;
  }
}

// Buttons
@mixin btn-normal {
  background: linear-gradient(
    map-get($colors, secondary),
    map-get($colors, primary)
  );
  box-shadow: 4px 4px 8px rgba($color: #000000, $alpha: 0.2);
}

@mixin btn-hover {
  background: linear-gradient(
    lighten(map-get($colors, secondary), 5%),
    lighten(map-get($colors, primary), 5%)
  );

  box-shadow: 4px 4px 8px rgba($color: #000000, $alpha: 0.4);
}

// Others
@mixin center-item {
  display: block;
  margin: auto;
}

@mixin h1-m0 {
  h1 {
    margin: 0;
  }
}
