// Breakpoints
$bp: (
  mobile-ls: 640px,
  tablet: 768px,
  computer: 1024px,
);

// Fonts
$fonts: (
  logo-titles: "Shrikhand",
  global: "Roboto",
);

// Colors
$colors: (
  primary: #9356dc,
  secondary: #ff79da,
  tertiary: #99e2d0,
  dark-grey: #eaeaea,
  light-grey: #f6f6f6,
);
