@import "./utils/variables";
@import "./utils/mixins";

@import "./components/buttons";
@import "./components/card";

@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/home";
@import "./layouts/margins-paddings";
@import "./layouts/restaurants";

body {
  margin: 0;
  box-sizing: border-box;
  font-family: map-get($fonts, global);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @include computer-only {
    background-color: map-get($colors, light-grey);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  width: 100vw;
  margin: auto;

  &--loader {
    @include animation-hide-container;
  }

  &--restaurant {
    display: flex;
    flex-direction: column;
  }

  @include mobile-ls-only {
    width: map-get($bp, mobile-ls);
  }

  @include tablet-only {
    width: map-get($bp, tablet);
  }

  @include tablet-ls-only {
    width: map-get($bp, tablet-ls);
  }

  @include computer-only {
    width: map-get($bp, computer);
  }
}
