@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/animations";

[data-dish="1"] {
  --dish: 1;
}
[data-dish="2"] {
  --dish: 2;
}
[data-dish="3"] {
  --dish: 3;
}

.restaurant-image {
  width: 100vw;
  max-height: 300px;
  z-index: 1;

  object-fit: cover;
  object-position: 100% 60%;

  @include mobile-ls-only {
    width: map-get($bp, mobile-ls);
    height: 300px;
  }

  @include tablet-only {
    width: map-get($bp, tablet);
    height: 400px;
  }

  @include computer-only {
    width: map-get($bp, computer);
    height: 800px;
  }
}

.menu {
  z-index: 2;
  margin-top: -40px;
  width: 100vw;

  @include mobile-ls-only {
    width: map-get($bp, mobile-ls);
  }

  @include tablet-only {
    width: map-get($bp, tablet);
  }

  @include computer-only {
    width: map-get($bp, computer);
  }

  background-color: map-get($colors, dark-grey);
  border-radius: 50px 50px 0 0;
  padding: 20px;

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    display: inline;
    font-family: map-get($fonts, logo-titles);
    margin: 0;
    font-size: 30px;
  }

  &__part {
    margin-top: 20px;
    opacity: 1;
    @include animation-fade-in;

    &__title {
      text-transform: uppercase;
      font-size: 16px;

      &:after {
        display: block;
        content: "";
        width: 45px;
        border-bottom: 3px solid map-get($colors, tertiary);
        padding-bottom: 6px;
      }
    }

    &__card-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      @include computer-only {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

.order-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
